$color-one: #fff;
$color-two: #000;
$color-three: #de53f4;
$color-four: #e5e5e5; // Background
$color-five: #e1e1e1; // Searchbar

$fontSize-one: 20px;
$fontSize-two: 26px;

$font-familyOne: 'Lato', sans-serif;
$font-familyTwo: 'Merriweather', serif;
$font-familyThree: 'Oswald', sans-serif;


$letter-space: 1.2px;