footer {
    height: 750px;
    background-color: $color-four;

    .footer-container {
        height: 700px;
        position: relative;
        
        img {
            height: 100%;
            width: 100%;
        }

        // .footer-newsletter {
        //     background-color: $color-two;
        //     position: absolute;
        //     height: 100px;
        // }
    }
}