@import 'config';

footer {
    // height: auto;
    // width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: $color-four;

    .footer-container {
        // height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: $color-three;
        position: relative;

        img {
            height: auto;
            width: 100%;
        }

        // opague background
        .footer-newsletter {
            background-color: $color-two;
            opacity: .7;
            position: absolute;
            height: 50%;
            width: 50%;

            // Tablet view
            @include pt-tablet {
                height: 80%;
                width: 85%;
            }

            @include ls-tablet {
                height: 80%;
                width: 80%;
            }

            // Laptop style
            @include laptop {
                height: 80%;
                width: 75%;
                padding: 1.5rem 0 3rem 0;
            }

            @include lg-laptop {
                height: 60%;
            }
        }

        .footer-info {
            position: absolute;
            height: fit-content;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 1rem;

            // Tablet styles

            @include pt-tablet {
                height: auto;
                width: 75%;
            }

            @include ls-tablet {
                height: auto;
                width: auto;
            }
        }
        

        .footer-signup {
            // position: absolute;
            color: $color-one;
            text-transform: uppercase;
            font-family: $font-familyThree;
            letter-spacing: $letter-spaceTwo;
            font-size: 28px;
            height: auto;
            width: 100%; 
            text-align: center;

            h1 {
                width: 100%;
            }

        }
    
        .footer-update {
            // position: absolute;
            font-size: $fontSize-one;
            font-style: italic;
            font-family: $font-familyTwo;
            letter-spacing: $letter-spaceOne;
            // height: 100%;
            width: auto;  
            padding: .5rem 0 2.5rem 0;

            // Tablet view
            @include pt-tablet {
                text-align: center;
            }

            @include ls-tablet {
                text-align: center;
                font-size: $fontSize-five;
            }

            // Laptop style
            @include laptop {
                text-align: center;
            }

            
        }
    
        .footer-link {
            // position: absolute;
            font-size: $fontSize-one;
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;

            a {
                font-family: $font-familyThree;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-one;
                letter-spacing: $letter-spaceOne;
                border: 2px solid $color-one;
                padding: .5rem 5rem;
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                background-color: $color-one;
                color: $color-two;
                transition: all 0.3s ease-in;
                transform: scale(1.1);
            }
        }

        // Mobile view footer

        @include mobile {
            height: 100%;
            overflow: hidden;
            
            img {
                transform: scale(1.4);
                width: 700px;
                height: 100%;
            }

            .footer-newsletter{
                width: 375px;
                height: 350px;
            }

            .footer-info {
                width: 425px;
                height: 350px;
                padding: 1rem;
                gap: 10px;

                .footer-signup {
                    font-size: $fontSize-two;
                    line-height:50px;
                }

                .footer-update {
                    text-align: center;
                    font-size: $fontSize-two;
                    padding-bottom: 1rem;
                }

                a {
                    padding: .5rem 5.5rem;
                }
            }
        }

        // Tablet view Styles

        @include pt-tablet {
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        @include ls-tablet {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    @include mobile {
        height: 525px;
        padding: 1rem 0 2.5rem 0;
    }

    @include pt-tablet {
        height: 500px;
        padding: 1.5rem 0;
    }
    @include ls-tablet {
        height: 450px;
        padding: 1.5rem 0 3rem 0;
    }

    
    
}