footer {
    height: 750px;
    background-color: $color-four;

    .footer-container {
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-three;

        .footer-newsletter {
            background-color: $color-two;
            opacity: .7;
            position: absolute;
            height: 400px;
            width:1000px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}