.hero {
    height: auto;
    width: 100%;
    background-color: $color-four; 
    
    .hero-container {
        margin: 0 2.5rem;
        padding: 2rem 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;

        .hero-top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 2rem;
            margin: 0 9px;
            border-bottom: 2px solid $color-two;
            bottom: 0;

            .hero-left {
                text-transform: uppercase;
                font-family: $font-familyThree;
                letter-spacing: $letter-spaceTwo;
                font-size: $fontSize-four;           
            }

            .hero-right {
                display: flex;
                align-items: center;

                .hero-btn {
                    padding: 0 1rem;
                    cursor: pointer;
                }
            }
        }

        

        .hero-bottom {
            padding-top: 2rem;
            display: flex;
            justify-content: center;    
            flex-wrap: wrap;
            width: 100%;

            .hero-card {
                color: $color-three;
                width: 570px;
                font-family: $font-familyThree; 
                margin: .5rem .5rem;
                
                .hero-img {
                    height: 500px;
                    text-transform: uppercase;
                    position: relative;
                    transition: .5s ease;

                    .hero-overlay {
                        position: absolute; 
                        width: 100%;
                        height: inherit;
                        transition: .4s ease;
                        opacity: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;    
                        
                        .hero-link {
                            // z-index: 1;
                            padding: 1rem 4rem;
                            cursor: pointer;
                            font-size: $fontSize-one;
                            letter-spacing: $letter-spaceTwo;
                            font-family: $font-familyOne;
                            text-transform: uppercase;
                            font-weight: bold;
                            border: 2px solid $color-three;
                            background-color: $color-containerOne;
                        }
                    }

                    .hero-overlay:hover {
                        // background-color: gray;
                        opacity: 1;
                    }

                    img {
                        height: 100%;
                        width: 570px; 
                    }   
                }

                .hero-event {
                    height: 50px;
                    background-color: $color-two; 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 1.5rem;
                    font-size: $fontSize-five;
                    text-transform: uppercase;
                    letter-spacing: $letter-spaceOne;

                    .hero-day {
                        background-color: $color-containerOne;
                        height: 50px;
                        width: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateY(-7px);
                        
                    }

                }

                .hero-person {
                    background-color:  $color-one;
                    text-align: center;
                    padding: 2rem;

                    .hero-name {
                        font-size: 30px;
                        letter-spacing: $letter-spaceTwo;
                        padding-bottom: 4px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .hero-tour {
                        font-size: $fontSize-five;
                        font-style: italic;
                        font-family: $font-familyTwo;
                        color: $color-two;
                        letter-spacing: $letter-spaceOne;
                        font-weight: 600;
                    }
                }  
            }
        }
    }
}