@import 'config';
@import 'media-queries';
@import 'herosection';
@import 'footer';
// @import 'card';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    .navbar {
        height: 4rem;
        width: 100%;
        background-color: $color-one;
        font-size: $fontSize-one;

        .navbar-container {
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: $letter-spaceOne;
            gap: 2rem;

            @include laptop {
                gap: 0;
            }

            @include lg-laptop {
                gap: 0;
            }
        }

        ul {
            // height: inherit;
            display: flex;
            align-items: center;

            li {
                padding: 0 8px;
                list-style-type: none;
                transition: all 0.3s ease-in;

                @include pt-tablet {
                    display: none;
                }

                @include laptop {
                    padding: 0 4px;
                }
            }

            .navbar-header {
                font-family: $font-familyThree;
                color: $color-three;

                @include laptop {
                    display: none;
                }

                @include laptop {
                    display: contents;
                }
            }

            a {
                padding: 0 4px;
                color: $color-two;
                text-decoration: none;
            }

            li:hover {
                transition: all 0.3s ease-in-out;
                transform: scale(1.2);
            }
        }

        .navbar-search {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 3rem;
            position: relative;
            
            input {
                padding: 8px 24px;
                width: 550px;
                border-radius: 25px;
                border: none;
                background-color: $color-five;
                color: $color-one;
                font-size: $fontSize-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-spaceOne;
                outline: none;
                color: $color-two;

                @include laptop {
                    width: 300px;
                }

                @include lg-laptop {
                    width: 475px;
                }
            }

            i {
                position: absolute;
                right: 5%;
                cursor: pointer;

                @include laptop {
                    position: absolute;
                    right: 20%;
                }
            }

            @include pt-tablet {
                display: none;
            }

            @include laptop {
                padding: 0 .5rem 0 0;
            }

            @include lg-laptop {
                padding: .5rem;
                margin-right: 1.5rem;
            }
        }

        .navbar-login {
            height: inherit;
            background-color: $color-three;
            display: flex;
            align-items: center;
            padding: 0 5rem 0 1rem;
            
            a {
                border: none;
                cursor: pointer;
                background-color: $color-three;
                font-size: $fontSize-one;
                padding-right: 1.4rem;
                color: $color-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-spaceOne;
            }

            a:hover {
                transition: all 0.3s ease;
                color: $color-two;
            }

            @include laptop {
                padding-right: 3rem;
            }

            @include lg-laptop {
                padding-right: 3rem;
            }
        }

        @include mobile {
            display: none;
        }

        @include pt-tablet {
            display: none;
        }

        @include ls-tablet {
            display: none;
        }

        @include laptop {
            display: contents;
        }
    }

    // second navbar styles

    .navbar-two {
        background-color: $color-two;
        height: 120px;

        div {
            height: inherit;
            display: flex;
            justify-content: space-between;
            margin: 0 80px 0 80px;

            // logo

            div {
                height: 140px;
                width: 290px;
                color: $color-one;
                background: linear-gradient(to right, #2e2e2e, #3a3a3a);
                display: flex;
                justify-content: center;
                align-items: center;                   
                text-transform: uppercase;
                letter-spacing: $letter-spaceTwo;
                transform: translateY(-50px);
                text-shadow: 0 5px 2px $color-two;
                font-family: $font-familyOne;
                margin-left: 0;
                padding: 1rem;
                
                
                h1 {
                    font-size: $fontSize-three;
                    width: 100%;
                    text-align: center;

                    @include mobile {
                      font-size: $fontSize-three;
                    }
                    
                }

                span {
                    font-size: $fontSize-four;
                    font-style: italic;
                    font-family: $font-familyThree;
                    font-weight: bold;

                    @include mobile {
                        font-size: $fontSize-one;
                      }

                      @include laptop {
                        font-size: $fontSize-five ;
                    }
                }

                @include mobile {
                    height: auto;
                    width: 225px;
                    transform: none;
                    margin: 8px 8px 8px 8px;
                }

                @include pt-tablet {
                    height: auto;
                    width: 225px;
                    transform: none;
                    margin: 8px 8px 8px 32px;
                }

                @include ls-tablet {
                    transform: none;
                    height: auto;
                    width: 225px;
                    margin: 8px 0 8px 8px;
                }

                @include laptop {
                    height: 150px;
                    width: auto;
                    margin: 0;
                }

                @include lg-laptop {
                    margin: 0;
                    width: auto;
                }
    
            }
            
            // links

            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                list-style: none;
                font-size: $fontSize-two;
                flex-grow: 1;
                font-family: $font-familyThree;
                gap: 105px;

                li {
                    width: auto;
                    letter-spacing: $letter-spaceTwo;
                    padding: 2rem;

                    @include laptop {
                        padding: 1rem;
                    }

                    @include lg-laptop {
                        padding: 1rem;
                    }
                }

                a {
                    text-decoration: none;
                    color: $color-one;
                }

                a:hover {
                    transition: all 0.2s ease-in-out;
                    color: $color-three;
                }

                @include mobile {
                    display: none;
                }

                @include pt-tablet {
                    display: none;
                }

                @include ls-tablet {
                    display: none;
                }

                @include laptop {
                    gap: 20px;
                    display: flex;
                    justify-content: center;
                    font-size: $fontSize-one;
                }

                @include lg-laptop {
                    gap: 85px;
                    display: flex;
                    justify-content: flex-end;
                    padding: 1rem 3rem 1rem 1rem;
                    font-size: $fontSize-two;
                }

            }

            // Dropdown menu

            .navbar-bars {
                display: none;

                @include mobile {
                    display: flex;
                    justify-content: flex-end;
                    background-color: $color-two;
                    padding-right: 0;
                }

                @include pt-tablet {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: $color-two;
                    padding-right: 1rem;
                }

                @include ls-tablet {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: .5rem;
                    background-color: $color-two;
                }
            }

            @include mobile {
                margin: 0 8px;
            }

            @include pt-tablet {
                margin: 0 8px;
            }

            @include ls-tablet {
                margin: 0 2rem;
            }

            @include laptop {
                margin: 0 2.5rem;        
            }

            @include lg-laptop {
                margin: 0 3rem;
            }
            
        }

        @include mobile {
            height: 100px;
        } 

        
    }
    
    
}

