.hero {
  height: 110vh;
  width: 100%;
  background-color: #e5e5e5;
}
.hero .hero-container {
  margin: 0 2rem;
  padding: 2rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
}
.hero .hero-container .hero-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid #000;
}
.hero .hero-container .hero-top .hero-left {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.4px;
  font-size: 32px;
}
.hero .hero-container .hero-top .hero-right {
  display: flex;
  align-items: center;
}
.hero .hero-container .hero-bottom {
  padding-top: 2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .navbar {
  height: 4rem;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
}
body .navbar .navbar-container {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1.4px;
  gap: 2rem;
}
body .navbar ul {
  display: flex;
  align-items: center;
  padding: 0 3rem 0 0;
}
body .navbar ul li {
  padding: 0 8px;
  list-style-type: none;
  transition: all 0.3s ease-in;
}
body .navbar ul .navbar-header {
  font-family: "Oswald", sans-serif;
  color: #de53f4;
}
body .navbar ul a {
  padding: 0 4px;
  color: #000;
  text-decoration: none;
}
body .navbar ul li:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
body .navbar .navbar-search {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 3rem;
  cursor: pointer;
  position: relative;
}
body .navbar .navbar-search input {
  padding: 8px 24px;
  width: 550px;
  border-radius: 25px;
  border: none;
  background-color: #e1e1e1;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.4px;
}
body .navbar .navbar-search div {
  position: absolute;
  right: 5%;
}
body .navbar .navbar-login {
  height: inherit;
  background-color: #de53f4;
  display: flex;
  align-items: center;
  padding: 0 4rem 0 2rem;
}
body .navbar .navbar-login button {
  border: none;
  cursor: pointer;
  background-color: #de53f4;
  font-size: 20px;
  padding-right: 1.4rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.4px;
}
body .navbar-two {
  background-color: #000;
  height: 120px;
}
body .navbar-two div {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0 2rem;
}
body .navbar-two div div {
  height: 140px;
  width: 15%;
  color: #fff;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transform: translateY(-50px);
  text-shadow: 0 5px 2px #000;
  font-family: "Lato", sans-serif;
}
body .navbar-two div div h1 {
  font-size: 52px;
}
body .navbar-two div div span {
  font-size: 24px;
  font-style: italic;
}
body .navbar-two div ul {
  width: 1200px;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}
body .navbar-two div ul li {
  width: auto;
  letter-spacing: 3.5px;
}
body .navbar-two div ul a {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=style.css.map */