.hero {
  height: auto;
  width: 100%;
  background-color: #e5e5e5;
}
.hero .hero-container {
  margin: 0 2.5rem;
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
}
.hero .hero-container .hero-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 0 9px;
  border-bottom: 2px solid #000;
  bottom: 0;
}
.hero .hero-container .hero-top .hero-left {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3.5px;
  font-size: 32px;
}
.hero .hero-container .hero-top .hero-right {
  display: flex;
  align-items: center;
}
.hero .hero-container .hero-top .hero-right .hero-btn {
  padding: 0 1rem;
  cursor: pointer;
}
.hero .hero-container .hero-bottom {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.hero .hero-container .hero-bottom .hero-card {
  color: #de53f4;
  width: 570px;
  font-family: "Oswald", sans-serif;
  margin: 0.5rem 0.5rem;
}
.hero .hero-container .hero-bottom .hero-card .hero-img {
  height: 500px;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}
.hero .hero-container .hero-bottom .hero-card .hero-img .hero-overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  transition: 0.4s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-container .hero-bottom .hero-card .hero-img .hero-overlay .hero-link {
  padding: 1rem 4rem;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #de53f4;
  background-color: #2e2e2e;
}
.hero .hero-container .hero-bottom .hero-card .hero-img .hero-overlay:hover {
  opacity: 1;
}
.hero .hero-container .hero-bottom .hero-card .hero-img img {
  height: 100%;
  width: 570px;
}
.hero .hero-container .hero-bottom .hero-card .hero-event {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.hero .hero-container .hero-bottom .hero-card .hero-event .hero-day {
  background-color: #2e2e2e;
  height: 50px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-7px);
}
.hero .hero-container .hero-bottom .hero-card .hero-person {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
}
.hero .hero-container .hero-bottom .hero-card .hero-person .hero-name {
  font-size: 30px;
  letter-spacing: 3.5px;
  padding-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
.hero .hero-container .hero-bottom .hero-card .hero-person .hero-tour {
  font-size: 18px;
  font-style: italic;
  font-family: "Merriweather", serif;
  color: #000;
  letter-spacing: 1.4px;
  font-weight: 600;
}

footer {
  height: 750px;
  background-color: #e5e5e5;
}
footer .footer-container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #de53f4;
}
footer .footer-container .footer-newsletter {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  height: 400px;
  width: 1000px;
}
footer .footer-container img {
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .navbar {
  height: 4rem;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
}
body .navbar .navbar-container {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1.4px;
  gap: 2rem;
}
body .navbar ul {
  display: flex;
  align-items: center;
  padding: 0 3rem 0 0;
}
body .navbar ul li {
  padding: 0 8px;
  list-style-type: none;
  transition: all 0.3s ease-in;
}
body .navbar ul .navbar-header {
  font-family: "Oswald", sans-serif;
  color: #de53f4;
}
body .navbar ul a {
  padding: 0 4px;
  color: #000;
  text-decoration: none;
}
body .navbar ul li:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
body .navbar .navbar-search {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 3rem;
  cursor: pointer;
  position: relative;
}
body .navbar .navbar-search input {
  padding: 8px 24px;
  width: 550px;
  border-radius: 25px;
  border: none;
  background-color: #e1e1e1;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.4px;
  outline: none;
  color: #000;
}
body .navbar .navbar-search div {
  position: absolute;
  right: 5%;
}
body .navbar .navbar-login {
  height: inherit;
  background-color: #de53f4;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 1rem;
}
body .navbar .navbar-login a {
  border: none;
  cursor: pointer;
  background-color: #de53f4;
  font-size: 20px;
  padding-right: 1.4rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.4px;
}
body .navbar .navbar-login a:hover {
  transition: all 0.3s ease;
  color: #000;
}
body .navbar-two {
  background-color: #000;
  height: 120px;
}
body .navbar-two div {
  height: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 80px;
}
body .navbar-two div div {
  height: 140px;
  width: 290px;
  color: #fff;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transform: translateY(-50px);
  text-shadow: 0 5px 2px #000;
  font-family: "Lato", sans-serif;
  margin-left: 0;
}
body .navbar-two div div h1 {
  font-size: 52px;
  width: 100%;
  text-align: center;
}
body .navbar-two div div span {
  font-size: 32px;
  font-style: italic;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
body .navbar-two div ul {
  width: 1235px;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 24px;
  margin-right: 2rem;
  font-family: "Oswald", sans-serif;
}
body .navbar-two div ul li {
  width: auto;
  letter-spacing: 3.5px;
}
body .navbar-two div ul a {
  text-decoration: none;
  color: #fff;
}
body .navbar-two div ul a:hover {
  transition: all 0.2s ease-in-out;
  color: #de53f4;
}/*# sourceMappingURL=style.css.map */