@import 'config';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    .navbar {
        height: 4rem;
        width: 100%;
        background-color: $color-one;
        font-size: $fontSize-one;

        .navbar-container {
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: $letter-space;
            gap: 2rem;
        }

        ul {
            width:inherit;
            height: inherit;
            display: flex;
            align-items: center;
            padding: 0 4rem 0 0;
            

            li {
                padding: 0 12px;
                list-style-type: none;
            }

            .navbar-header {
                font-family: $font-familyThree;
                color: $color-three;
            }

            a {
                color: $color-two;
                text-decoration: none;
            }
        }

        .navbar-search {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem 0 3rem;
            cursor: pointer;
            position: relative;
            
            input {
                padding: 8px 24px;
                width: 475px;
                border-radius: 25px;
                border: none;
                background-color: $color-five;
                color: $color-one;
                font-size: $fontSize-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-space;
            }

            div {
                position: absolute;
                right: 10%;
            }
        }

        .navbar-login {
            height: inherit;
            background-color: $color-three;
            display: flex;
            align-items: center;
            padding: 0 4rem 0 2rem;
            
            button {
                border: none;
                cursor: pointer;
                background-color: $color-three;
                font-size: $fontSize-one;
                padding-right: 1.4rem;
                color: $color-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-space;
            }
        }
    }

    .navbar-two {
        background-color: $color-two;
        height: 120px;

        div {
            height: inherit;
            display: flex;
            justify-content: space-between;

            div {
                color: $color-one;
            }

            ul {
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                letter-spacing: $letter-space;
                font-size: $fontSize-two;
                margin-right: 3rem;
                font-family: $font-familyThree;

                li {
                    
                }

                a {
                    text-decoration: none;
                    color: $color-one;
                }
            }
        }

    }
}