@import 'config';
@import 'media-queries';
@import 'herosection';
@import 'footer';
// @import 'card';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    .navbar {
        height: 4rem;
        width: 100%;
        background-color: $color-one;
        font-size: $fontSize-one;

        .navbar-container {
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: $letter-spaceOne;
            gap: 2rem;
        }

        ul {
            // height: inherit;
            display: flex;
            align-items: center;

            li {
                padding: 0 8px;
                list-style-type: none;
                transition: all 0.3s ease-in;
            }

            .navbar-header {
                font-family: $font-familyThree;
                color: $color-three;
            }

            a {
                padding: 0 4px;
                color: $color-two;
                text-decoration: none;
            }

            li:hover {
                transition: all 0.3s ease-in-out;
                transform: scale(1.2);
            }
        }

        .navbar-search {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 3rem;
            cursor: pointer;
            position: relative;
            
            
            input {
                padding: 8px 24px;
                width: 550px;
                border-radius: 25px;
                border: none;
                background-color: $color-five;
                color: $color-one;
                font-size: $fontSize-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-spaceOne;
                outline: none;
                color: $color-two;
            }

            div {
                position: absolute;
                right: 5%;
            }
        }

        .navbar-login {
            height: inherit;
            background-color: $color-three;
            display: flex;
            align-items: center;
            padding: 0 5rem 0 1rem;
            
            a {
                border: none;
                cursor: pointer;
                background-color: $color-three;
                font-size: $fontSize-one;
                padding-right: 1.4rem;
                color: $color-one;
                font-family: $font-familyThree;
                letter-spacing: $letter-spaceOne;
            }

            a:hover {
                transition: all 0.3s ease;
                color: $color-two;
            }
        }

        @include mobile {
            display: none;
        }
    }

    .navbar-two {
        background-color: $color-two;
        height: 120px;

        div {
            height: inherit;
            display: flex;
            justify-content: space-between;
            margin: 0 0 0 80px;

            div {
                height: 140px;
                width: 290px;
                color: $color-one;
                background-color: $color-containerOne;
                display: flex;
                justify-content: center;
                align-items: center;                   
                text-transform: uppercase;
                letter-spacing: $letter-spaceTwo;
                transform: translateY(-50px);
                text-shadow: 0 5px 2px $color-two;
                font-family: $font-familyOne;
                margin-left: 0;
                
                
                h1 {
                    font-size: $fontSize-three;
                    width: 100%;
                    text-align: center;
                }

                span {
                    font-size: $fontSize-four;
                    font-style: italic;
                    font-family: $font-familyThree;
                    font-weight: bold;
                }

                @include mobile {
                    height: auto;
                    width: 225px;
                    transform: none;
                    margin: 8px 8px 8px 0;
                }
    
            }
            
            ul {
                width: 100%;
                // padding: 0 5rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                list-style: none;
                font-size: $fontSize-two;
                margin-right: 6.5rem;
                flex-grow: 1;
                font-family: $font-familyThree;
                gap: 105px;

                li {
                    width: auto;
                    letter-spacing: $letter-spaceTwo;
                    padding: 2rem;
                    
                }

                a {
                    text-decoration: none;
                    color: $color-one;
                }

                a:hover {
                    transition: all 0.2s ease-in-out;
                    color: $color-three;
                }

                @include mobile {
                    display: none;
                }
            }

            .navbar-bars {
                display: none;

                @include mobile {
                    display: flex;
                    justify-content: flex-end;
                    background-color: $color-two;

                }
            }

            @include mobile {
                margin-left: 8px;
            }
            
        }

        @include mobile {
            height: 100px;
        } 
    }
    
    
}

